@import url("opensans-bold.css");

/*
font-family: 'OpenSans-Bold';
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0 !important;
}

section,
div {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.h2 {
    font-size: 41.67px;
    text-transform: uppercase;
}

.h2 span {
    color: #f4c515;
}

.h2::before {
    content: "";
    display: inline-block;
    width: 56px;
    height: 2px;
    vertical-align: top;
    margin: 30px 12px 0 0;
    background-color: #f4c515;
}

.h3 {
    font-size: 25px;
    text-transform: uppercase;
}

.h3 span {
    color: #f4c515;
}

.h3::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    vertical-align: top;
    margin: 15px 10px 0 0;
    background-color: #f4c515;
}

label {
    cursor: pointer;
}

ins {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
}

::-webkit-input-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #737272;
}
::-moz-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #737272;
}
:-ms-input-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #737272;
}
:-moz-placeholder {
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: #737272;
}

*:focus::-webkit-input-placeholder {
    color: transparent;
}
*:focus::-moz-placeholder {
    color: transparent;
}
*:focus:-ms-input-placeholder {
    color: transparent;
}
*:focus:-moz-placeholder {
    color: transparent;
}

/* ############################################################# */

body {
    height: 5100px;
    background: url("../img/bg.jpg") no-repeat center top;
    font-family: "OpenSans-Bold";
    color: #272727;
}

.center {
    width: 1174px;
    margin: 0 auto;
}

.header {
    background: #141414;
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header .center {
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: 125px;
}

.header .nav a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 60px;
    transition: 0.3s;
}

.header .nav a:hover {
    color: #f6c615;
}

.main_slider {
    margin-top: 190px;
    margin-bottom: 65px;
}

.main_slider ul {
    height: 763px;
    position: relative;
}

.main_slider ul li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

.main_slider img {
    transform: scale(0);
}

.main_slider ul li.active {
    opacity: 1;
    z-index: 1;
}

.main_slider_text {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 55px;
}

.main_slider_title {
    font-size: 125px;
    color: #fff;
    text-transform: uppercase;
    transform: translateX(100%);
}

.main_slider_desc {
    font-size: 18.75px;
    color: #fff;
    transform: translateX(-100%);
}

.main_slider_price {
    font-size: 18.75px;
    color: #fff;
    margin-top: 20px;
    transform: translateX(-100%);
}

.main_slider_btn {
    font-size: 14.58px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 46px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 12px 18px 14px 0;
    width: 149px;
    position: relative;
    transform: translateY(1000px);
}

.main_slider ul li.active .main_slider_title {
    transform: translateX(0);
    transition: 1s;
}

.main_slider ul li.active .main_slider_desc {
    transform: translateX(0);
    transition: 1s;
}

.main_slider ul li.active .main_slider_price {
    transform: translateX(0);
    transition: 1s;
}

.main_slider ul li.active .main_slider_btn {
    transform: translateX(0);
    transition: 1s;
}

.main_slider ul li.active img {
    transform: scale(1);
    transition: 1s;
}

.main_slider_btn i {
    position: absolute;
    right: -26px;
    top: -2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/cart.png") no-repeat center #f5c617;
    box-shadow: 0 0 0 5px rgba(245, 198, 23, 0.3);
}

.main_slider_btn:hover {
    color: #f5c617;
    border-color: #f5c617;
}

.main_slider_btn:hover i {
    box-shadow: 0 0 0 10px rgba(245, 198, 23, 0.3);
    transition: 0.3s;
}

.main_slider_controls {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 104px;
    z-index: 2;
}

.main_slider_controls_count {
    padding-bottom: 94px;
}

.main_slider_controls_count span {
    font-size: 66.67px;
}

.main_slider_controls_count ins {
    font-size: 16.67px;
}

.main_slider_controls_pags {
    padding-left: 50px;
    padding-bottom: 73px;
}

.main_slider_controls_pags span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #252525;
    margin-bottom: 10px;
    cursor: pointer;
}

.main_slider_controls_pags span.active {
    background: #bdbdbd;
}

.main_slider_controls_btns {
    height: 84px;
    padding-left: 24px;
}

.main_slider_controls_btns button {
    width: 21px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: top;
}

.main_slider_controls_btns button.prev {
    border-top: 1px solid #252525;
    border-left: 1px solid #252525;
    transform: rotate(-45deg);
}

.main_slider_controls_btns button.next {
    border-top: 1px solid #252525;
    border-right: 1px solid #252525;
    transform: rotate(45deg);
    margin-top: 58px;
}

.main_slider_controls_btns::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 39px;
    width: 90px;
    height: 1px;
    background: #252525;
    transform: rotate(-45deg);
}

.sale_block {
    margin-top: 49px;
}

.sale_block_left {
    width: 556px;
    float: left;
    z-index: 1;
}

.sale_block_left img {
    position: relative;
    left: -128px;
}

.counter_sale {
    text-align: center;
    margin-top: 101px;
}

.counter_sale_title {
    font-size: 16.52px;
    line-height: 43.46px;
    text-transform: uppercase;
}

.counter_sale_title span {
    color: #2f3333;
    margin: 0 14px;
}

.counter_sale_title p {
    display: inline;
    color: #cfcfcf;
}

.counter_sale_title p ins {
    color: #f4c515;
}

.counter_sale_desc {
    font-size: 14.58px;
    color: #7b7b7b;
}

/* 
Countdown begin #################################################################
*/

#my-soon-counter .soon-reflection {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff 25%, rgba(255, 255, 255, 0));
}

#my-soon-counter .soon-label {
    color: #7b7b7b;
    font-size: 16.52px !important;
    top: 63%;
}

#my-soon-counter .soon-ring-progress {
    background-color: #e8e8e8;
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.soon[data-visual]
    > .soon-group
    > .soon-group-inner
    > .soon-group-sub
    > .soon-group-inner {
    min-width: 86px;
    min-height: 86px;
    margin-right: 15px;
}

.soon[data-layout*="line"] {
    padding: 28px 0 6px;
}

.soon .soon-group {
    margin-left: 30px;
}

.soon[data-visual] .soon-value {
    font-size: 16.52px;
}

.soon[data-visual*="ring"]:not([data-layout*="label-hidden"]) .soon-value {
    top: 35%;
}

/* 
Countdown end #################################################################
*/

/* 
Social begin #################################################################
*/

.soc {
    text-align: center;
}

.soc a {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin: 0 9px 7px 0px;
    background-color: #2f5391;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
}

.soc a img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.soc a:hover {
    background-color: #f4c515;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.23);
}

/* 
Social end #################################################################
*/

.sale {
    padding-bottom: 85px;
}

/* .sale_block_right {
    overflow: hidden;
} */

.sale_block_right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.sale_block_right ul li {
    width: 50%;
    border: 1px solid #f1f1f1;
    padding: 25px 25px 0;
}

.sale_block_right ul li:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.sale_block_right_category {
    font-size: 14.58px;
    color: #3d65b1;
}

.sale_block_right_title {
    font-size: 16.67px;
    margin-top: 6px;
    /* color: #2f3333; */
}

.sale_block_right_price {
    font-size: 16.67px;
    text-transform: uppercase;
    margin-top: 12px;
    /* color: #2f3333; */
}

.sale_block_right_price span {
    color: #f4c515;
}

.sale_block_right_img {
    margin-top: 19px;
}

.sale_block_right .soc {
    margin-top: 23px;
}

.sale_block_right .soc a {
    transform: scale(0);
    transition: 0s;
}

.sale_block_right ul li:hover .soc a:nth-child(1) {
    transform: scale(1);
    transition: 0.2s;
}

.sale_block_right ul li:hover .soc a:nth-child(2) {
    transform: scale(1);
    transition: 0.2s 0.1s;
}

.sale_block_right ul li:hover .soc a:nth-child(3) {
    transform: scale(1);
    transition: 0.2s 0.2s;
}

.popular {
    background-color: #f5f5f5;
    padding-top: 93px;
    padding-bottom: 130px;
}

.popular_tab_btns {
    position: absolute;
    top: 16px;
    right: -14px;
}

.popular_tab_btns a {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    padding: 0 18px;
}

.popular_tab_btns a.active {
    border-bottom: 5px solid #f4c515;
}

.popular_all_tabs_block {
    padding-top: 48px;
}

.popular_all_tabs_block ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: -10000px;
}

.popular_all_tabs_block ul.active {
    position: relative;
    left: 0;
}

.popular_all_tabs_block ul.active li:nth-child(1) {
    opacity: 1;
    transition: 0.2s 0.1s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(2) {
    opacity: 1;
    transition: 0.2s 0.2s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(3) {
    opacity: 1;
    transition: 0.2s 0.3s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(4) {
    opacity: 1;
    transition: 0.2s 0.7s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(5) {
    opacity: 1;
    transition: 0.2s 0.6s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(6) {
    opacity: 1;
    transition: 0.2s 0.5s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul.active li:nth-child(7) {
    opacity: 1;
    transition: 0.2s 0.4s opacity, 0.4s box-shadow;
}

.popular_all_tabs_block ul li {
    width: 25%;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 25px 25px 30px;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    opacity: 0;
}

.popular_all_tabs_block ul li:first-child {
    width: 50%;
}

.popular_all_tabs_block ul li:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.popular_main_goods_left {
    width: 270px;
    float: left;
}

.popular_gallery_main {
    height: 270px;
}

.popular_gallery_main img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0);
}

.popular_gallery_main img.active {
    transform: scale(1);
    transition: 0.4s;
}

.popular_gallery_prev {
    margin-top: 19px;
}

.popular_gallery_prev span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 22px;
}

.popular_gallery_prev span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.popular_gallery_prev span.active::after {
    background: transparent;
    border: 2px solid #f4c515;
}

.popular_gallery_prev img {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.popular_main_goods_right {
    overflow: hidden;
    padding-top: 59px;
}

.popular_goods_title {
    font-size: 16.67px;
}

.popular_goods_price {
    font-size: 16.67px;
    text-transform: uppercase;
    margin-top: 10px;
}

.popular_goods_price span {
    color: #f4c515;
}

.popular_goods_char {
    margin-top: 12px;
}

.popular_goods_char span {
    font-size: 14.7px;
    color: #7b7b7b;
    display: block;
    position: relative;
    margin-top: 5px;
    padding-left: 14px;
}

.popular_goods_char span::before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 50%;
    background: #5b5d5d;
}

.popular_main_goods_right .soc {
    text-align-last: left;
    margin-top: 80px;
}

.popular_goods_img {
    /* padding: 26px 0 42px; */
    height: 270px;
}

.popular_goods_img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.popular_goods_desc {
    font-size: 14.58px;
    line-height: 22.92px;
    color: #7b7b7b;
}

.black_section {
    height: 592px;
    background: #1b1b1b;
}

.black_section .center {
    height: 592px;
}

.black_section_circle {
    width: 894px;
    height: 592px;
    position: absolute;
    left: -257px;
    top: 0;
    overflow: hidden;
}

.black_section_circle::before {
    content: "";
    width: 894px;
    height: 894px;
    position: absolute;
    left: 0;
    top: -162px;
    right: 0;
    bottom: 0;
    background: repeating-radial-gradient(
        #282828,
        #282828 200px,
        #1b1b1b 200px,
        #1b1b1b 320px
    );
    border-radius: 50%;
}

.black_section_carousel {
    width: 474px;
    height: 592px;
    float: left;
}

.black_section_carousel ul li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.black_section_carousel ul li.active .black_section_carousel_mainimg {
    opacity: 1;
    transition: 1s;
}

.black_section_carousel
    ul
    li.active
    .black_section_carousel_previmg
    span:nth-child(1) {
    transform: scale(1);
    transition: 0.4s;
}

.black_section_carousel
    ul
    li.active
    .black_section_carousel_previmg
    span:nth-child(2) {
    transform: scale(1);
    transition: 0.4s 0.2s;
}

.black_section_carousel
    ul
    li.active
    .black_section_carousel_previmg
    span:nth-child(3) {
    transform: scale(1);
    transition: 0.4s 0.4s;
}

.black_section_carousel ul li.active {
    z-index: 1;
}

.black_section_carousel_mainimg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.black_section_carousel_mainimg img {
    position: absolute;
    top: 0;
    right: 90px;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scale(0);
}

.black_section_carousel_mainimg img.active {
    transform: scale(1);
    transition: 0.4s;
}

.black_section_carousel_previmg {
    width: 70px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.black_section_carousel_previmg span {
    display: block;
    width: 70px;
    height: 70px;
    background: #fff;
    position: relative;
    cursor: pointer;
    border: 3px solid transparent;
    transform: scale(0);
    transition: 0.4s;
}

.black_section_carousel_previmg span.active {
    border-color: #f4c515;
}

.black_section_carousel_previmg span img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 40px;
}

.black_section_carousel button {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 148px;
    border: 0;
    box-shadow: 0 0 13px rgba(2, 2, 2, 0.2);
    z-index: 3;
    cursor: pointer;
    transition: 0.4s;
}

.black_section_carousel button:hover {
    background: #f5c617;
    box-shadow: 0 0 0 10px rgba(245, 198, 23, 0.3);
}

.black_section_carousel button.prev {
    top: -36px;
}

.black_section_carousel button.prev::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: 1px solid #252525;
    border-left: 1px solid #252525;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: 0.4s;
}

.black_section_carousel button.next {
    bottom: -36px;
}

.black_section_carousel button.next::after {
    content: "";
    width: 16px;
    height: 16px;
    border-bottom: 1px solid #252525;
    border-right: 1px solid #252525;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 8px;
    left: 0;
    margin: auto;
    transition: 0.4s;
}

.black_section_carousel button:hover::after {
    border-color: #fff;
}

.black_section_right {
    overflow: hidden;
    padding: 83px 0 0 125px;
}

.black_section_right h2 {
    color: #fff;
    margin-bottom: 16px;
}

.black_section_right p {
    color: #909090;
    font-size: 20.83px;
    line-height: 43.46px;
}

.black_section_right ul {
    margin: 14px 0 28px;
    list-style: none;
}

.black_section_right ul li {
    color: #909090;
    font-size: 16.67px;
    line-height: 37.46px;
    margin-left: 14px;
    position: relative;
}

.black_section_right ul li::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: -16px;
}

.black_section_right .price {
    font-size: 20.83px;
    color: #909090;
    text-transform: uppercase;
}

.black_section_right .price span {
    color: #fff;
}

.black_section_right .price ins {
    color: #f4c515;
}

.black_section_right .soc {
    text-align-last: left;
    margin-top: 35px;
}

.multi .center {
    display: flex;
    justify-content: space-between;
}

.multi {
    padding: 128px 0;
}

.multi ul {
    margin-top: 54px;
}

.multi ul li {
    display: flex;
    height: 206px;
}

.multi ul li:hover {
    box-shadow: 0 0 40px rgba(2, 2, 2, 0.9);
}

.multi ul li:hover .multi_category,
.multi ul li:hover .multi_title,
.multi ul li:hover .multi_text .price {
    transform: translateY(-20px);
    transition: 0.4s;
}

.multi ul li:hover .multi_text .soc a:nth-child(1) {
    transform: scale(1);
    transition: 0.1s;
}

.multi ul li:hover .multi_text .soc a:nth-child(2) {
    transform: scale(1);
    transition: 0.3s;
}

.multi ul li:hover .multi_text .soc a:nth-child(3) {
    transform: scale(1);
    transition: 0.5s;
}

.multi_block {
    width: 370px;
}

.multi_img {
    width: 150px;
    /* text-align: center; */
}

.multi_img img {
    /* display: block; */
    /* margin: 10px auto; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.multi_text {
    margin-top: 34px;
    width: 220px;
}

.multi_category {
    font-size: 14.58px;
    color: #1a65b8;
}

.multi_title {
    font-size: 16.67px;
    line-height: 22.92px;
    color: #2b3132;
    margin-top: 4px;
}

.multi_text .price {
    font-size: 16.67px;
    color: #6f6f6f;
    text-transform: uppercase;
    margin-top: 23px;
}

.multi_text .price span {
    color: #f4c515;
}

.multi_text .soc {
    text-align-last: left;
}

.multi_text .soc a {
    transform: scale(0);
}

.popup {
    width: 560px;
    height: 300px;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 102;
    display: none;
}

.popup_title {
    font-size: 22.92px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #252525;
    padding: 12px 0;
}

.popup_content {
    height: 245px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popup_category {
    font-size: 14.58px;
    color: #1a65b8;
}

.popup_goods_title {
    font-size: 16.67px;
    line-height: 22.92px;
    color: #2b3132;
    margin-top: 4px;
}

.popup_text .price {
    font-size: 16.67px;
    color: #6f6f6f;
    text-transform: uppercase;
    margin-top: 23px;
}

.popup_text .price span {
    color: #f4c515;
}

.popup form {
    margin-top: 24px;
}

.popup form input[type="text"] {
    width: 150px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50px;
    text-align: center;
    font-size: 14.58px;
    color: #828282;
}

.popup form button[type="submit"] {
    font-size: 14.58px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #252525;
    border: 2px solid #252525;
    border-radius: 50px;
    padding: 12px 18px 14px 0;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.popup form button[type="submit"] i {
    position: absolute;
    right: -26px;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/cart.png") no-repeat center #f5c617;
    box-shadow: 0 0 0 5px rgba(245, 198, 23, 0.3);
}

.popup form button[type="submit"]:hover {
    color: #f5c617;
    border-color: #f5c617;
    background: transparent;
}

.popup form button[type="submit"]:hover i {
    box-shadow: 0 0 0 10px rgba(245, 198, 23, 0.3);
    transition: 0.3s;
}

.close {
    width: 22px;
    height: 22px;
    background: url("../img/close.png");
    position: absolute;
    top: 15px;
    right: 22px;
    z-index: 1;
    cursor: pointer;
}

.bg_popup {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    display: none;
}
